@page "/exchange/{exchangeId:int?}"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@rendermode InteractiveServer
@inject ProtectedSessionStorage sessionStorage
@inject userListUseCase userListUseCase
@inject unresolvedExchangeListUseCase unresolvedExchangeListUseCase
@inject deleteUnresolvedExchangeUseCase deleteUnresolvedExchangeUseCase
@inject modifyUnresolvedExchangeUseCase modifyUnresolvedExchangeUseCase
@inject modifyPostUseCase modifyPostUseCase
@inject listTransportUseCase listTransportUseCase
@inject listPostUseCase listPostUseCase
@inject offerListUseCase offerListUseCase
@inject NavigationManager Navegador

<DialogoConfirmacion @ref="dialogoAccept" OnConfirmado="accept"/>
<DialogoConfirmacion @ref="dialogoCancel" OnConfirmado="cancel"/>

@if (!string.IsNullOrEmpty(cartelito) && mostrarCartel) {
    <div class="alert alert-info">
        @cartelito
        <button class="btn" @onclick="()=>setFalse()" >
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
            </svg>
        </button>
    </div>
}
@if (isEmployee) {
    <div> html para empleados? </div>
} else if (isParticipant) { // is owner or offerer
    if (ownerTransport != null && offererTransport != null) {       //sino pones este if renderiza antes de conseguir las variables y detona (anashe)
        <body>
            <div class="exchange-container">
                <div class="user-info">
                    <h2>Ofertante: @offerer.userName</h2>
                    <div class="vehicle-info">
                        <h3>Ofrece:</h3>
                        <p>Tipo: @offererTransport.type</p>
                        <p>Modelo: @offererTransport.model</p>
                        <!-- Add more vehicle details here -->
                    </div>
                </div>
                <div class="user-info">
                    <h2>Pacto Ofrecido:</h2>
                    @if (!isFirstTime()) {
                        <div class="vehicle-info">
                            <h3>Horario:</h3>
                            <p>@actualExchange.fechaYHora</p>
                            <h3>Sede:</h3>
                            <p>@actualExchange.sede</p>
                            <!-- Add more vehicle details here -->
                        </div>
                    }
                    @if (isFirstTime()) {
                        <div class="vehicle-info">
                            <p> Sin Oferta aún </p>
                        </div>
                    }
                </div>
                <div class="user-info">
                    <h2>Dueño: @owner.userName</h2>
                    <div class="vehicle-info">
                        <h3>Se solicita:</h3>
                        <p>Tipo: @ownerTransport.type</p>
                        <p>Modelo: @ownerTransport.model</p>
                        <!-- Add more vehicle details here -->
                    </div>
                </div>
            </div>
            <div class="buttons">
                @if (!isAccepted()) {
                    @if (isMyTurn()) {
                        @if (!isFirstTime()) {
                            <button class="accept" @onclick="confirmarAccept">Aceptar Intercambio</button>
                        }
                        <button class="try" data-bs-toggle="modal"data-bs-target="#proponerHorarioModal" @onclick="() => Try(actualExchange)">Ofrecer horario</button>
                    }
                    @if (!isMyTurn()) {
                        <p> Esperando a que el usuario acepte la oferta u ofrezca una nueva fecha </p>
                    }
                    <button class="cancel" @onclick="confirmarCancel">Cancelar Intercambio</button>
                }
                @if (isAccepted()) {
                    <p> Intercambio Aceptado! </p>
                }
            </div>
        </body>
    }
}

<ProponerHorario @ref="proponerHorario" OnProponerHorario="HorarioPropuesto" />
<Emails @ref=emails/>

@code {
    DialogoConfirmacion dialogoAccept = null!;      // dos dialogos para las dos posibles confirmaciones
    DialogoConfirmacion dialogoCancel = null!;         // para cada confirmacion tengo que hacer un onConfirmado distinto
	Emails emails = null!;

    [Parameter] public int exchangeId { get; set; }
    UnresolvedExchange actualExchange;

    User owner = new User();
    Transport ownerTransport;
    User offerer = new User();
    Transport offererTransport;

    int loggedUserId = 0;
    bool isEmployee = false;
    bool isParticipant = true;

    ProponerHorario proponerHorario = null!;
    string? cartelito;
    bool mostrarCartel;

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            //Extrae la información del user loggeado
            var getLoggedUserId = await sessionStorage.GetAsync<int>("userId");
            loggedUserId = getLoggedUserId.Success ? getLoggedUserId.Value : 0;
            var getIsEmployee  = await sessionStorage.GetAsync<bool>("isEmployee");
            isEmployee = getIsEmployee .Success ? getIsEmployee.Value : false;

            // get Exchange from its Id
            actualExchange = await Task.Run(() => unresolvedExchangeListUseCase.Execute().Find(e => e.Id == exchangeId));

            // get info del cartelito
            var getCartelito  = await sessionStorage.GetAsync<string>("cartel?");
            cartelito = getCartelito.Success ? getCartelito.Value : null;
            mostrarCartel = true;
            await sessionStorage.DeleteAsync("cartel?");

            // Load the info after actualExchange is initialized
            loadInfo();
        }
    }

    private void loadInfo() { //cargar info de transportes y los usuarios
        List<Transport> transports = listTransportUseCase.Execute();  // lista de transportes para conseguir los transportes del owner y offerer
        ownerTransport = transports.Where(t => t.Id == actualExchange.transportePosteadoId).SingleOrDefault();
        offererTransport = transports.Where(t => t.Id == actualExchange.transporteOfertadoId).SingleOrDefault();

        List<User> users = userListUseCase.Execute();   // lista de usuarios para conseguir sus infos a través de sus transportes.
        owner = users.Where(u => u.Id == ownerTransport.UserId).SingleOrDefault();
        offerer = users.Where(u => u.Id == offererTransport.UserId).SingleOrDefault();

        // aviso que cambia el estado, osea que se consiguieron los datos para poder renderizar el html
        StateHasChanged();
    }

    private bool iAmOwner() {
        return owner.Id == loggedUserId;
    }
    
    private bool iAmOfferer() {
        return offerer.Id == loggedUserId;
    }

    private bool isMyTurn() {
        return (actualExchange.state == "OffererChooses" && iAmOfferer()) || (actualExchange.state == "OffererStart" && iAmOwner()) || (actualExchange.state == "OwnerChooses" && iAmOwner());
    }

    private bool isFirstTime() { //             U//W//U
        return actualExchange.state == "OffererStart";
    }

    private bool isAccepted() {
        return actualExchange.state == "Accepted";
    }
    
    private void confirmarAccept() {
        dialogoAccept.Mostrar("¿Seguro que deseas aceptar el intercambio?");
    }

    private async Task accept() {
        actualExchange.state = "Accepted";
        modifyUnresolvedExchangeUseCase.Execute(actualExchange);

        StateHasChanged();
        mostrarCartel = true;
        cartelito = "Intercambio Aceptado Exitosamente";

        // Envia mail al otro involucrado
        User user = getUser();
        string title = getTitle();
        emails.SendEmail(
			"¡Intercambio aceptado!", // Subject
			user.mail, // Mail
			"¡Aceptaron tu intercambio!", // Titulo
			$@"
			<p style='line-height: 140%;color: #f4f4f4;margin-bottom: 0;'>Tu intercambio de <b>{title}</b> fue aceptado</p>
			<p style='line-height: 140%;color: #f4f4f4;margin-top: 0;'>Podés entrar a la página para ver mayor información</p>
			" // Cuerpo
		);
    }

    public void Try(UnresolvedExchange exchange) {
        proponerHorario.Cargar(exchange);
    }

    private void confirmarCancel() {
        dialogoCancel.Mostrar("¿Seguro que deseas cancelar el intercambio?");
    }

    private User getUser() {
        if (iAmOwner()) {
            return offerer;
        } else {
            return owner;
        }
    }

    private string getTitle() {
        Post post = listPostUseCase.Execute().Find(post => post.TransportId == ownerTransport.Id);
        return post.Title;
    }

    private async Task cancel() {
        // borro el intercambio actual
        deleteUnresolvedExchangeUseCase.Execute(exchangeId);
        // consigo la lista de posts de los vehiculos y seteo su paused a false (osea, NO pausados)
        List<Post> postsACambiar = listPostUseCase.Execute().Where(Post => Post.TransportId == ownerTransport.Id || Post.TransportId == offererTransport.Id).ToList();
        postsACambiar.ForEach(post => post.paused = false);
        postsACambiar.ForEach(post => modifyPostUseCase.Execute(post));
        
        // para el titulo del mail
        Post post = listPostUseCase.Execute().Find(post => post.TransportId == ownerTransport.Id);
        // Envia mail al otro involucrado
        User user = getUser();
        emails.SendEmail(
			"Intercambio cancelado", // Subject
			user.mail, // Mail
			"Intercambio cancelado", // Titulo
			$@"
			<p style='line-height: 140%;color: #f4f4f4;margin-bottom: 0;'>Tu intercambio de <b>{post.Title}</b> ha sido cancelado</p>
			<p style='line-height: 140%;color: #f4f4f4;margin-top: 0;'>Podés entrar a la página para seguir buscando el transporte de tus sueños</p>
			" // Cuerpo
		);

        // envio el cartelcito notificando que se canceló el intercambio con exito y navego al home
        await sessionStorage.SetAsync("cartel?", "Intercambio cancelado exitosamente");
        Navegador.NavigateTo("/", true);
    }

    public void HorarioPropuesto() {
        StateHasChanged();
        mostrarCartel = true;
        cartelito = "Horario propuesto con exito";

        // Envia mail al otro involucrado
        User user = getUser();
        string title = getTitle();
        emails.SendEmail(
			"¡Horario propuesto!", // Subject
			user.mail, // Mail
			"Recibiste una propuesta de horario", // Titulo
			$@"
			<p style='line-height: 140%;color: #f4f4f4;margin-bottom: 0;'>Tu intercambio de <b>{title}</b> recibió una propuesta de horario</p>
			<p style='line-height: 140%;color: #f4f4f4;margin-top: 0;'>Podés entrar a la página para ver la propuesta</p>
			" // Cuerpo
		);
    }

    private void setFalse () {
      mostrarCartel = false;
    }
}