@page "/listarmisintercambios"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage sessionStorage
@inject NavigationManager navegador
@inject userListUseCase userListUseCase
@inject listTransportUseCase listTransportUseCase
@inject unresolvedExchangeListUseCase unresolvedExchangeListUseCase
@inject listPostUseCase listPostUseCase
@inject shipListUseCase shipListUseCase
@inject listVehicleImagesUseCase listVehicleImagesUseCase
@inject listShipImagesUseCase listShipImagesUseCase

<div class="exchanges-container">
  <div class="exchanges">
    <h1 class="exchanges-title">Intercambios</h1>
    <div class="exchanges-body">
      @if (exchanges.Any()) {
        int i = 0;
        @foreach (var exchange in exchanges){
          <div class="exchange-info" @onclick="async () => await browseToExchange(exchange.Id)">
            <div class="img">
              <img src="@string.Format("data:image/jpeg;base64,{0}", Convert.ToBase64String(images[i]))"/>
            </div>
            <div>
              <h4>Publicación: @getPostedTransport(exchange)</h4>
              <h6>Dueño de la publicación: @getPostTarget(exchange)</h6>
              <h6>Ofertado: @getOfferedTransport(exchange)</h6>
              <h6>Ofertante: @getOfferTarget(exchange)</h6>
            </div>
          </div>
          i++;
        }
      } else {
        <h3 class="text-center">Aún no hay intercambios</h3>
      }
    </div>
  </div>
</div>

@code {
  List<UnresolvedExchange> unresolvedExchanges = new List<UnresolvedExchange>();
  List<UnresolvedExchange> exchanges = new List<UnresolvedExchange>();
  List<Transport> transports = new List<Transport>();
  List<Post> posts = new List<Post>();
  List<User> users = new List<User>();
  
  List<VehicleImage> vehicleImages = new List<VehicleImage>();
  List<ShipImage> shipImages = new List<ShipImage>();
  List<byte[]> images = new List<byte[]>();
  int loggedUserId;

  protected override async Task OnInitializedAsync() {
    // Inicializo en exchanges las ofertas hechas por el usuario loggeado
    // Se supone que acá solo llegan los clientes loggeados
    var getLoggedUser = await sessionStorage.GetAsync<int>("userId");
    loggedUserId = getLoggedUser.Success ? getLoggedUser.Value : 0;

    // Inicializo listas para usarlas después
    users = userListUseCase.Execute();
    transports = listTransportUseCase.Execute();
    unresolvedExchanges = unresolvedExchangeListUseCase.Execute();

    posts = listPostUseCase.Execute();
    vehicleImages = listVehicleImagesUseCase.Execute();
    shipImages = listShipImagesUseCase.Execute();
    getExchanges();
  }

  public void getExchanges () {
    // Ids de todos los transportes del usuario loggeado
    List<int> transportIds = transports.FindAll(T => T.UserId == loggedUserId).Select(T => T.Id).ToList();
    // Todas los intercambios donde se está involucrado un transporte del usuario
    exchanges = unresolvedExchanges.FindAll(Exc => transportIds.Contains(Exc.transporteOfertadoId) || transportIds.Contains(Exc.transportePosteadoId));
    getImages();
  }

  public void getImages() {
    foreach (var exchange in exchanges) {
      int transportId = exchange.transportePosteadoId;

      if (isVehicle(transportId)) {
        images.Add(vehicleImages.Find(img => img.VehicleId == transportId).Image);
      } else {
        images.Add(shipImages.Find(img => img.ShipId == transportId).Image);
      }
    }
  }

  public bool isVehicle (int transportId) {
		return !shipListUseCase.Execute().Any(ship => ship.Id == transportId);
	}

  // Obtiene el userName del dueño del post involucrado
  public string getPostTarget(Exchange exchange) {
    Transport postedTransport = transports.Find(transport => transport.Id == exchange.transportePosteadoId);
    User postedTransportOwner = users.Find(user => user.Id == postedTransport.UserId);
    return postedTransportOwner.userName;
  }

  // Obtiene el userName del dueño del transporte ofertado involucrado
  public string getOfferTarget(Exchange exchange) {
    Transport offeredTransport = transports.Find(transport => transport.Id == exchange.transporteOfertadoId);
    User postedTransportOwner = users.Find(user => user.Id == offeredTransport.UserId);
    return postedTransportOwner.userName;
  }

  // Obtiene la patente del transporte ofrecido
  public string getOfferedTransport(Exchange exchange) {
    Transport offeredTransport = transports.Find(transport => transport.Id == exchange.transporteOfertadoId);
    return $"{offeredTransport.type} {offeredTransport.model} {offeredTransport.plate}";
  }

  // Obtiene la patente del transporte publicado
  public string getPostedTransport(Exchange exchange) {
    Transport postedTransport = transports.Find(transport => transport.Id == exchange.transportePosteadoId);
    Post post = posts.Find(post => post.TransportId == postedTransport.Id);
    return $"{post.Title} {postedTransport.plate}";
  }

  public async Task browseToExchange(int exchangeId) {
    navegador.NavigateTo("exchange/" + exchangeId, true);
  }
}