@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage sessionStorage
@inject vehicleListUseCase vehicleListUseCase
@inject listVehicleImagesUseCase listVehicleImagesUseCase
@inject modifyVehicleUseCase modifyVehicleUseCase
@inject deleteVehicleUseCase deleteVehicleUseCase

@rendermode InteractiveServer

<DialogoConfirmacion @ref="dialogo" OnConfirmado="eliminarVehiculo"/>

<div class="modal fade" id="listarVehiculosModal" tabindex="-1" data-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Tus vehículos cargados</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body form-body">
          <table class="table">
            <thead>
              <tr>
                <th>IMAGEN</th>
                <th>TIPO</th>
                <th>MODELO</th>
                <th>PATENTE</th>
                <th>DESCRIPCION</th>
                <th>KILOMETROS</th>
                <th>PUERTAS</th>
              </tr>
            </thead>
            <tbody>
              @{int i = 0;}
              @foreach (var vehiculo in _vehicles) {
                <tr>
                  <td>
                    <img src="@string.Format("data:image/jpeg;base64,{0}", Convert.ToBase64String(_images[i]))" 
                      width="100" height="100"/>
                  </td>
                  <td>
                    @vehiculo.type[0].ToString().ToUpper()@vehiculo.type.Substring(1)
                  </td>
                  <td>@vehiculo.model</td>
                  <td>@vehiculo.plate</td>
                  <td>@vehiculo.description</td>
                  <td>@vehiculo.kms</td>
                  <td>@vehiculo.doors</td>
                  <td>
                    <button class="btn btn-primary" @onclick="()=>mofificarVehiculo(vehiculo)">
                        <span class="oi oi-pencil"></span>
                    </button>
                    <button class="btn btn-danger" @onclick="()=>confirmarEliminacion(vehiculo)">
                        <span class="oi oi-trash"></span>
                    </button>
                </td>
                </tr>
                i++;
              }
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
</div>

@code {
    int userId;
    
    List<Vehicle> _vehicles = new List<Vehicle>();
    List<VehicleImage> _allImages = new List<VehicleImage>();
    List<byte[]> _images = new List<byte[]>();

    DialogoConfirmacion dialogo = null!;
    Vehicle? vehiculoAEliminar;
      
    protected override async Task OnInitializedAsync() {
      var result = await sessionStorage.GetAsync<int>("userId");
      userId = result.Success ? result.Value : 0;

      GetVehiculosCargados();
      GetImagenesVehiculos();
    }

    private void GetVehiculosCargados() {
      _vehicles = vehicleListUseCase.Execute();
      _vehicles = _vehicles.FindAll(vehiculo => vehiculo.UserId == userId);
    }

    private void GetImagenesVehiculos() {
      _allImages = listVehicleImagesUseCase.Execute();

      foreach (var vehiculo in _vehicles) {
        byte[] image = _allImages.Find(imagen => imagen.VehicleId == vehiculo.Id).Image;
        _images.Add(image);
      }
    }

    private void mofificarVehiculo(Vehicle vehiculo) {
      
    }

    private void confirmarEliminacion(Vehicle vehiculo) {
      vehiculoAEliminar = vehiculo;
      dialogo.Mostrar("¿Seguro qué deseas eliminar el vehiculo?");
    }

    private void eliminarVehiculo() {
      deleteVehicleUseCase.Execute(vehiculoAEliminar.Id);
      GetVehiculosCargados();
    }
}